Flask==3.1.0
Flask-JWT-Extended==4.7.1
Flask-Bcrypt==1.0.1
flask-cors==5.0.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.1
requests==2.32.3
influxdb-client==1.48.0
numpy==2.2.6
celery==5.5.3
redis==6.4.0